body{
    margin: 0;
    background-color: black;
}

.brand-logo {
    margin-left: 25px;
}


.nav-wrapper {
    background-color: #16243c;
    margin: 0;
}

.header-logo{
    width: 100%;
}

.card-title{
    text-align: center;
}
.card{
    border-radius: 5px;
}
