body{
    margin: 0;
    background-color: #000000;
}

.brand-logo {
    margin-left: 25px;
}

.sidenav{
    background-color: #16243c;
}

#menu{
    display: block;
    height: 30px;
    margin:  10px
}


.nav-wrapper {
    background-color: #16243c;
    margin: 0;
}

.header-logo{
    width: 100%;
}

.card-title{
    text-align: center;
}
.card{
    border-radius: 5px;
}

.dropdown-content{
   width: max-content !important;
   height:auto !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #16243c;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.fa{
    padding-right: 10px;
    margin-bottom: 10px;
}
#how_it_works_cards {
    background-color: black;
    margin: 0;
}

#find_new_dream_menu {
    background-color: #000000;
    margin: 40px;
    font-size: x-large;
    color: orange;
    display: inline;
}

#find_new_dream_menu:hover{
    color: #16243c;
    transform-style: flat;
    transition-duration: 0.5s;
}

.register_form_style {
    color: #FFFFFF;
    text-align: center;
}