<footer class="page-footer" style="background-color: #16243c; padding: 0">
  <div class="container" style="width: 100%;">
    <div class="row">
      <div class="col s12 m10" style="padding-top: 20px">
        <p class="grey-text text-lighten-2"></p>
      </div>
      <div class="col s12 m2" style="padding-top: 20px;">
        <ul style="display: inline">
          <li class="social-link"><a class="fa fa-facebook" href="#"></a>Facebook</li>
          <li class="social-link"><a class="fa fa-google" href="#"></a>Google</li>
          <li class="social-link"><a class="fa fa-linkedin" href="#"></a>LinkedIn</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="font-size: x-small; margin: 0;align-items: center">
    <div class="container" style="padding-bottom: 10px; padding-left: 10px; margin: 0">
    © 2019 Everyone can copyright this pet project =)
    </div>
  </div>
</footer>