<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamHomePrice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {
        $(".load_home").click(function() {
            $.get("/user_parameters/", function(data) {
                $("#loaded_content").html(data);
            });
        });
    });
</script>

  <nav>
    <div class="nav-wrapper">
      <a href="{%url 'main'%}" class="brand-logo"><i class="material-icons" style="font-size: 40px">home</i></a>
    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
			<i class="material-icons">menu</i>
		</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 25px">
        <li><a href="{%url 'main'%}" class="link-how-it-works">How it works</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'cabinet' %}">My profile</a> </li>
            <li><a href="{% url 'logOut' %}"> Log Out</a> </li>
          {% else %}
            <li><a href="{% url 'signUp' %}">Sign Up</a></li>
            <li><a href="{% url 'logIn' %}">Log In</a> </li>
          {% endif %}
      </ul>
    </div>
  </nav>
  <ul id="mobile-nav" class="sidenav">
        <li><a href="{%url 'main'%}" style="color: white" class="link-how-it-works">How it works</a></li>
          {% if user.is_authenticated %}
            <li><a href="#" style="color: white">My profile</a> </li>
            <li><a href="{% url 'logOut' %}" style="color: white"> Log Out</a> </li>
          {% else %}
            <li><a href="{% url 'signUp' %}" style="color: white">Sign Up</a></li>
            <li><a href="{% url 'logIn' %}" style="color: white">Log In</a> </li>
          {% endif %}
  </ul>
  <div class="row">
    <div class="col s12 m2" style="margin: 0;padding: 0; background-color: #16243c;border-bottom-right-radius: 3px">
      <h5 style="color: white; text-align: center">{{ user.first_name }}</h5>
      <div class="card z-depth-0" style="background-color: #16243c;">
        <div class="card-action" style="padding: 10px; border-radius: 3px">
          <a href="" id="menu" onclick="return false" class="load_home">Information<br></a>
          <a href="#" id="menu">Previous results</a>
          <a href="#" id="menu">Subscribes</a>
          <a href="#" id="menu">Settings</a>
        </div>
        </div>
      </div>
    <div class="col s12 m10" id="loaded_content" style="padding: 10px;">
      <div class="container" style="background-color: #16243c; color:white;padding: 10px; border-radius: 5px">
        {% if user.profile.profile_type == 'Not active'%}
          <div class="row">
            <div class="col s8 offset-s2" style="text-align: center;">
              <h6>{{ message }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col s8 offset-s2" style="text-align: center;">
              <h6>Please, confirm your email:       <a href="{% url 'confirm_email' %}">Confirm now</a></h6>
            </div>
          </div>
        {% endif %}
        <div class="row">
          <div class="col s2"><h6>First name:</h6></div>
          <div class="col s4"><h6>{{ user.first_name }}</h6></div>
          <div class="col s2"><h6>Last name:</h6></div>
          <div class="col s4"><h6>{{ user.last_name }}</h6></div>
        </div>
        <div class="row">
          <div class="col s2"><h6>Email:</h6></div>
          <div class="col s4"><h6>{{ user.email }}</h6></div>
          <div class="col s2"><h6>Account:</h6></div>
          <div class="col s4"><h6>{{ user.profile.profile_type }}</h6></div>
        </div>

        <div class="row">
          <div class='col s4 offset-s4' style="text-align: center">
            {% if user.profile.profile_type == 'Active' %}
              <a href="#"><h5>Find new dream</h5></a></div>
            {% elif  user.profile.profile_type == 'Not active'%}
              <h5 style="color: darkgrey" title="Confirm email and activate account">Find new dream</h5>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>