<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamHomePrice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="{%url 'main'%}" class="brand-logo"><i class="material-icons" style="font-size: 40px">home</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 25px">
        <li><a href="{%url 'main'%}" onclick="return false" class="link-how-it-works">How it works</a></li>
          {% if user.is_authenticated %}
            <li><a href="#">{{ user.username }}</a></li>
            <li><a href="{% url 'logOut' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signUp' %}">Sign Up</a></li>
            <li><a href="#">Log In</a> </li>
          {% endif %}
      </ul>
    </div>
  </nav>
</body>
</html>