<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamHomePrice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<script>
	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
  $(document).ready(function(){
    $('select').formSelect();
  });
  $(document).ready(function () {
    $(".predict_price").click(function() {
      $.get("/predict_price_form/", function(data) {
        $("#fill_parameters").html(data);
        $('html, body').animate({scrollTop:$('#fill_parameters').position().top}, 2000);
        });
      });
    });
</script>
  <nav>
    <div class="nav-wrapper">
      <a href="{%url 'main'%}" class="brand-logo"><i class="material-icons" style="font-size: 40px">home</i></a>
    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
			<i class="material-icons">menu</i>
		</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 25px">
        <li><a href="{%url 'main'%}" onclick="return false" class="link-how-it-works">How it works</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'cabinet' %}">My profile</a> </li>
            <li><a href="{% url 'logOut' %}"> Log Out</a> </li>
          {% else %}
            <li><a href="{% url 'signUp' %}">Sign Up</a></li>
            <li><a href="{% url 'logIn' %}">Log In</a> </li>
          {% endif %}
      </ul>
    </div>
  </nav>
  <ul id="mobile-nav" class="sidenav" style="margin-right: 25px">
        <li><a href="{%url 'main'%}" onclick="return false" class="link-how-it-works">How it works</a></li>
          {% if user.is_authenticated %}
            <li><a href="#">{{ user.username }}</a> </li>
            <li><a href="{% url 'logOut' %}"> Log Out</a> </li>
          {% else %}
            <li><a href="{% url 'signUp' %}">Sign Up</a></li>
            <li><a href="{% url 'logIn' %}">Log In</a> </li>
          {% endif %}
  </ul>

  <div class="row" style="margin-top: 100px;">
    <div class="container" style="background-color: #16243c; width: 90%">
      <div class="col s12 m12">
        <div class="row">
          <h3 style="text-align: center; color: white;">What do you want to know ?</h3>
        </div>
        <div class="row" style="margin-top: 40px">
          <div class="container" style="width: 90%;">
            <ul class="collection" style="border:none; text-align: center">
              <a href="" class="predict_price" onclick="return false">
                <li class="collection-item" id="find_new_dream_menu">Price</li></a>
              <a href="" class="predict_area" onclick="return false">
                <li class="collection-item" id="find_new_dream_menu">Area</li></a>
              <a href="" class="predict_distance"  onclick="return false">
                <li class="collection-item" id="find_new_dream_menu">Distance to center</li></a>
              <a href="" class="predict_rooms" onclick="return false">
                <li class="collection-item" id="find_new_dream_menu">Count of rooms</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 40%">
    <h3 style="text-align: center; color: white" >Enter parameters</h3>
    <div class="container">
      <div id="fill_parameters">
      </div>
    </div>
  </div>
</body>