<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamHomePrice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<script>
	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
</script>
  {% include 'header.html' %}

  <div class="header-logo-block">
        <img class="header-logo" src="../static/images/background.png" alt="">
  </div>
  <div class="row" style="margin-bottom: 200px">
    <h1 class="center-align" style="color: white">Two possibilities</h1>
    <div class="col s12 m6" style="background-color: black; margin-bottom: 40px">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0">
          <span class="card-title">Personal</span>
          <p>You are searching apartments or house of your dream ? Do you you want to know how much it will be cost ?
          You can use this simple service to check the price of your dream. Just write parameters and get the price !</p>
          <div class="card-action">
            <a href="{% url 'logIn' %}">Try now</a>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6" style="background-color: black;margin: 0">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0;">
          <span class="card-title">Business</span>
          <p> If you are interested in ceiling apartments or house, it's for you. With our service you can see all
          proposals in different places. We provide a lot of information so you can analyze it and choose the best price
            for your case !</p>
          <div class="card-action">
            <a href="#">Try now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 200px">
    <h1 style="color: white;" class="center-align h1-how-it-works">How it works</h1>
    <div class="col s12 m3" id="how_it_works_cards">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0; height: 200px">
          <span class="card-title">STEP 1</span>
          <p> Create free account manually or with Google or Facebook accounts. </p>
        </div>
      </div>
    </div>
    <div class="col s12 m3" id="how_it_works_cards">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0; height: 200px">
          <span class="card-title">STEP 2</span>
          <p>Go to your account page and click button Find new dream</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3" id="how_it_works_cards">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0; height: 200px">
          <span class="card-title">STEP 3</span>
          <p>Fill all data. Choose what you want to know (price, distance to center, area) Our algorithm will search the best result which
          will fit your input parameters.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3" id="how_it_works_cards">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0;height: 200px">
          <span class="card-title">STEP 4</span>
          <p>Wait a minute and look at results !</p>
        </div>
      </div>
    </div>
  </div>
{% include 'footer.html' %}
<script type="text/javascript">
$('.link-how-it-works').click(function(){
       $('html, body').animate({scrollTop:$('.h1-how-it-works').position().top}, 2000);
});
</script>
</body>
</html>