<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamHomePrice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<body>

<script>
	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
</script>

  <nav>
    <div class="nav-wrapper">
      <a href="{%url 'main'%}" class="brand-logo"><i class="material-icons" style="font-size: 40px">home</i></a>
    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
			<i class="material-icons">menu</i>
		</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 25px">
        <li><a href="{%url 'main'%}" onclick="return false" class="link-how-it-works">How it works</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'cabinet' %}">My profile</a> </li>
            <li><a href="{% url 'logOut' %}"> Log Out</a> </li>
          {% else %}
            <li><a href="{% url 'signUp' %}">Sign Up</a></li>
            <li><a href="{% url 'logIn' %}">Log In</a> </li>
          {% endif %}
      </ul>
    </div>
  </nav>
  <ul id="mobile-nav" class="sidenav" style="margin-right: 25px">
        <li><a href="{%url 'main'%}" onclick="return false" class="link-how-it-works">How it works</a></li>
          {% if user.is_authenticated %}
            <li><a href="#">{{ user.username }}</a> </li>
            <li><a href="{% url 'logOut' %}"> Log Out</a> </li>
          {% else %}
            <li><a href="{% url 'signUp' %}">Sign Up</a></li>
            <li><a href="{% url 'logIn' %}">Log In</a> </li>
          {% endif %}
  </ul>
  <div class="header-logo-block">
        <img class="header-logo" src="../static/images/background.png" alt="">
  </div>
  <div class="row" style="margin-bottom: 200px">
    <h1 class="center-align" style="color: white">Two possibilities</h1>
    <div class="col s12 m6" style="background-color: black; margin-bottom: 40px">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0">
          <span class="card-title">Personal</span>
          <p>You are searching apartments or house of your dream ? Do you you want to know how much it will be cost ?
          You can use this simple service to check the price of your dream. Just write parameters and get the price !</p>
          <div class="card-action">
            <a href="{% url 'signUp' %}">Try now</a>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6" style="background-color: black;margin: 0">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0;">
          <span class="card-title">Business</span>
          <p> If you are interested in ceiling apartments or house, it's for you. With our service you can see all
          proposals in different places. We provide a lot of information so you can analyze it and choose the best price
            for your case !</p>
          <div class="card-action">
            <a href="#">Try now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 200px">
    <h1 style="color: white;" class="center-align h1-how-it-works">How it works</h1>
    <div class="col s12 m3" style="background-color: black;margin: 0">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0; height: 200px">
          <span class="card-title">STEP 1</span>
          <p> Create free account manually or with Google or Facebook accounts. </p>
        </div>
      </div>
    </div>
    <div class="col s12 m3" style="background-color: black;margin: 0">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0; height: 200px">
          <span class="card-title">STEP 2</span>
          <p>Go to your account page and click button Find new dream</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3" style="background-color: black;margin: 0">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0; height: 200px">
          <span class="card-title">STEP 3</span>
          <p>Fill all data. Choose what you want to know (price, distance to center, area) Our algorithm will search the best result which
          will fit your input parameters.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3" style="background-color: black;margin: 0">
      <div class="card">
        <div class="card-content white-text" style="background-color: #16243c; border-radius:3px; margin: 0;height: 200px">
          <span class="card-title">STEP 4</span>
          <p>Wait a minute and look at results !</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer" style="background-color: #16243c; padding: 0">
    <div class="container" style="width: 100%;">
      <div class="row">
        <div class="col s12 m4" style="padding-top: 20px">
          <p class="grey-text text-lighten-2">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col s12 offset-l5 m2" style="padding-top: 20px">
          <ul style="display: inline">
            <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright" style="font-size: x-small; margin: 0">
      <div class="container">
      © 2019 Everyone can copyright this pet project =)
      </div>
    </div>
  </footer>
<script type="text/javascript">
$('.link-how-it-works').click(function(){
       $('html, body').animate({scrollTop:$('.h1-how-it-works').position().top}, 2000);
});
</script>
</body>
</html>