<div class="container" style="background-color: #16243c; color:white;padding: 10px">
  {% if user.profile.profile_type == 'Not active' %}
  <div class="row">
    <div class="col s8 offset-s2" style="text-align: center;">
      <h6>Please, confirm your email:       <a href="{% url 'confirm_email' %}">Confirm now</a></h6>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col s2"><h6>First name:</h6></div>
    <div class="col s4"><h6>{{ user.first_name }}</h6></div>
    <div class="col s2"><h6>Last name:</h6></div>
    <div class="col s4"><h6>{{ user.last_name }}</h6></div>
  </div>
  <div class="row">
    <div class="col s2"><h6>Email:</h6></div>
    <div class="col s4"><h6>{{ user.email }}</h6></div>
    <div class="col s2"><h6>Account:</h6></div>
    <div class="col s4"><h6>{{ user.profile.profile_type }}</h6></div>
  </div>

  <div class="row">
    <div class='col s4 offset-s4' style="text-align: center">
      {% if user.profile.profile_type == 'Active' %}
        <a href="#"><h5>Find new dream</h5></a></div>
      {% elif  user.profile.profile_type == 'Not active'%}
        <h5 style="color: darkgrey" title="Confirm email and activate account">Find new dream</h5>
      {% endif %}
  </div>
</div>