{% load static %}
{% load filters %}
<html lang="en">
{% include 'staticParts/head.html' %}
<body>
<script>
	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
</script>
{% include 'staticParts/header.html' %}
  <div class="row">
    <form class="col s12 login-form" id="log_in" method="post" action="{% url 'UserLogIn' %}">
      {% csrf_token %}
      <div class="row" style="margin-left: 35%; margin-top: 10%; width: 25%; margin-bottom: 0">
        <h6 style="text-align:center; color: darkred">{{ message }}</h6>
        <p style="color: white; text-align: center"><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
        <br>OR</p>
      </div>
      <div class="row" style="margin-left: 35%; width: 50%;">
        <div class="input-field col s3" style="text-align: center;color: white">
          {{ form.email|add_css_class:'register_form_style' }}
        </div>
        <div class="input-field col s3">
          {{ form.password|add_css_class:'register_form_style' }}
        </div>
      </div>
      <div class="row" style="margin-left: 41.5%; width: 50%;">
        <div class="input-field col s3" style="text-align: center;color: white;">
          <button class="btn waves-effect waves-light" type="submit" form="log_in" name="action" value="Submit">
                Log In<i class="material-icons right">forward</i>
          </button>
      </div>
      </div>
    </form>
  </div>
{% include 'staticParts/footer.html' %}
</body>
</html>