<!DOCTYPE html>
{% load filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register   |</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{#    <script src="../static/js/jquery-3.4.1.min.js"></script>#}
</head>
<body>
<script>
	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
</script>
{% include 'staticParts/header.html' %}
  <div class="row">
    <form class="col s12 login-form" id="log_in" method="post" action="{% url 'UserLogIn' %}">
      {% csrf_token %}
      <div class="row" style="margin-left: 35%; margin-top: 10%; width: 25%; margin-bottom: 0">
        <h6 style="text-align:center; color: darkred">{{ message }}</h6>
        <p style="color: white; text-align: center"><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
        <br>OR</p>
      </div>
      <div class="row" style="margin-left: 35%; width: 50%;">
        <div class="input-field col s3" style="text-align: center;color: white">
          {{ form.email|add_css_class:'register_form_style' }}
        </div>
        <div class="input-field col s3">
          {{ form.password|add_css_class:'register_form_style' }}
        </div>
      </div>
      <div class="row" style="margin-left: 41.5%; width: 50%;">
        <div class="input-field col s3" style="text-align: center;color: white;">
          <button class="btn waves-effect waves-light" type="submit" form="log_in" name="action" value="Submit">
                Log In<i class="material-icons right">forward</i>
          </button>
      </div>
      </div>
    </form>
  </div>
{% include 'staticParts/footer.html' %}
</body>
</html>