{% load static %}
{% load filters %}

<html lang="en">
{% include 'staticParts/head.html' %}
<body>

<script>
	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
</script>

{% include 'staticParts/header.html' %}
  <div class="row">
    <form class="col s12" id="register" action="{% url 'createUser' %}" method="post">
      {% csrf_token %}
      <div class="row" style="margin-left: 35%; margin-top: 10%; width: 25%; margin-bottom: 0">
        <p style="color: white; text-align: center">{{ message }}<br><a href="{% url 'social:begin' 'google-oauth2' %}">
          Login with Google</a><br>
        <br>OR</p>
      </div>
      <div class="row" style="margin-left: 35%; width: 50%">
        <div class="input-field col s3">
          {{ form.first_name|add_css_class:'register_form_style' }}
        </div>
        <div class="input-field col s3">
          {{  form.last_name|add_css_class:'register_form_style' }}
        </div>
      </div>
      <div class="row" style="margin-left: 35%; width: 50%;">
        <div class="input-field col s3" style="text-align: center;color: white">
          {{ form.email|add_css_class:'register_form_style' }}
        </div>
        <div class="input-field col s3">
          {{ form.password|add_css_class:'register_form_style' }}
        </div>
      </div>
      <div class="row" style="margin-left: 35%; width: 50%;">
        <div class="input-field col s3" style="text-align: center;color: white;">
          <button class="btn waves-effect waves-light" type="submit" form="register" name="action" value="Submit">
                Submit<i class="material-icons right">send</i>
          </button>
      </div>
      </div>
    </form>
  </div>
  {% include 'staticParts/footer.html' %}
</body>
</html>